#services {
 font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
 padding: 80px 0;
}
.service-img {
 width: 100px;
 margin-top: 15px;
}
.services {
 padding: 20px;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.5s;
 border-radius: 5px;
 margin-bottom: 30px;
}
.services:hover {
 box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.services h4 {
 color : #424242;
 margin-top: 25px;
 padding: 5px;
 font-weight: 500;
}
p {
 color: #707070;
}
.title::before{
 content: '';
 background: #6da9ed;
 height: 5px;
 width: 200px;
 margin-left: auto;
 margin-right: auto;  
 display: block;
 transform: translateY(65px); 
}
.title::after {
 content: '';
 background: #6da9ed;
 height: 10px;
 width: 50px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom:40px ;
 display: block;
 transform: translateY(8px); 
}
#services .btn-primary {
 box-shadow: none;
 padding: 8px 25px;
 border: none;
 border-radius: 20px;
 margin-top: 10px;
 width: 20%;
}